  <%- include('body-scripts') %> 

  <footer>
    <div class="container-fluid text-center bg-dark py-1">
      <span class="align-middle text-white">Copyright 2020 <img src="/images/cs-learning-logo-white.png" alt="- Logo -"> CS-learning</span>
    </div>
  </footer>
  </body>
</html>
