<section id="quem-somos" class="row mb-4 bg-light">
  <div class="col-md-6">
    <img src="/images/undraw_team_goals_hrii.svg" class="img-fluid" alt="">
  </div>
  <div class="col-md-6">
    <h2>Quem Somos</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam provident, quia quibusdam, aliquam doloremque similique labore eum esse corrupti, ab earum! Id voluptatibus est eaque alias sint sequi laborum tempore.</p>
  </div>
</section>