<section id="servicos">
  <h2 class="text-center text-uppercase my-4">Serviços</h2>
  <div class="row mb-4">
    <% listaServicos.forEach(servico => { %>

      <div class="col-md-4 text-center text-break card d-flex justify-content-around p-5">
        <img src="<%= servico.imagem %>" class="img-fluid" alt="">
        <h3 class="text-uppercase"><%= servico.nome %></h3>
      </div>

    <% }) %>
  </div>
</section>