<%- include('./partials/header') %>
  <main>
    <%- include('./partials/main-carousel') %> 

    <div class="container">
      <%- include('./partials/servicos') %>
      
    </div>
  </main>
<%- include('./partials/footer') %>
