<%- include('./partials/header') %>
  <main>
    <%- include('./partials/main-carousel')  %> 

    <div class="container">
      <h2 class="text-center text-uppercase my-3">Serviços</h1>
    </div>
  </main>
<%- include('./partials/footer') %>
