@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand img {
    width: 150px;
}

footer img {
    width: 50px;
}

.carousel-control-next,
.carousel-control-prev {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}